*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

:root{
    font-size: 62.5%;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #232323;
    color: #fff;
}

#app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
    width: 100%;
    height: 100%;
}

#app > h1{
    font-size: 3.2rem;
}

#canvas{
    display: grid;
    justify-content: center;
    align-content: center;

    width: 57.6rem;
    height: 57.6rem;

    /* border: 1px solid red; */
    box-shadow: .0rem .0rem .6rem .5rem rgba(0, 0, 0, 0.15);
}

.canvasSquare{
    user-select: none;
}

#canvasAndOptions{
    display: flex;
    justify-content: space-around;
    gap: 6rem;
}

button{
    padding: .8rem 1.2rem;
    border-radius: 3rem;
    border: none;
    background-color: rgb(255, 255, 255);
    transition: 0.5s;
}

button:hover{
    background-color: #c6c6c6;
    transform: scale(1.05);
    transition: 0.5s;
    cursor: pointer;
}

.buttonToggle{
    background-color: rgba(255, 0, 0, 0.715);;
    color: #fff;
    border: 1px solid white;
}

#options{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6rem;

    padding: 1.5rem 3.5rem;
    border-radius: .5rem;
    
    box-shadow: .0rem .0rem .6rem .5rem rgba(0, 0, 0, 0.15);
}

#colorModeSelection{
    font-size: 1.4rem;
}

#colorModes{
    display: flex;
    flex-direction: column;
}

#colorSelection{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.4rem;
}

#colorInput{
    padding: 0;
    margin: 0;
    border: 0;
    appearance: none;
}

#clearOptions{
    display: flex;
    gap: 1.5rem;
}

#clear:hover{
    background-color: rgba(255, 0, 0, 0.715);
    color: #fff;
}

.border{
    border: .1rem solid #ffffff4e;
}

footer{
    width: 100vw;
    text-align: center;
    position: fixed;
    bottom: 10px;
    color: rgba(255, 255, 255, 0.605);
    font-weight: 400;
}

footer a{
    text-decoration: none;
    color: purple;
}